[run]
source = loggingtools
omit =
    *__init__.py,
    *conftest.py,
    docs/*,
    *conftest.py,

    ; Versioneer
    *_version.py

    ; Django
    *manage.py,
    *settings*.py,
    *urls.py,
    *admin.py,
    *migrations/*,
    *wsgi.py,
